In [1]:
import pandas as pd
import pyreadstat
import warnings
warnings.filterwarnings('ignore')

In [2]:
coet1422, meta1 = pyreadstat.read_dta('ENOEN_COE1T422.dta', apply_value_formats=True)
coet2422, meta2 = pyreadstat.read_dta('ENOEN_COE2T422.dta', apply_value_formats=True)
hogt422, meta3 = pyreadstat.read_dta('ENOEN_HOGT422.dta', apply_value_formats=True)
vivt422, meta4 = pyreadstat.read_dta('ENOEN_VIVT422.dta', apply_value_formats=True)
sdemt422, meta5 = pyreadstat.read_dta('ENOEN_SDEMT422.dta', apply_value_formats=True)

In [3]:
coet1422['p3']

0         2221.0
1            NaN
2         2271.0
3            NaN
4         2281.0
           ...
322865    2632.0
322866       NaN
322867    6111.0
322868       NaN
322869       NaN
Name: p3, Length: 322870, dtype: category
Categories (482, float64): [1111.0, 1112.0, 1113.0, 1121.0, ..., 9731.0, 9732.0, 9899.0, 9999.0]

In [4]:
idvivienda = ['cd_a', 'ent', 'con', 'v_sel']
idhogar = ['cd_a', 'ent', 'con', 'v_sel', 'n_hog', 'h_mud']
idpersona = ['cd_a', 'ent', 'con', 'v_sel', 'n_hog', 'h_mud', 'n_ren']

In [5]:
coet422 = pd.merge(coet1422, coet2422, on=idpersona)
coet422.columns

Index(['r_def', 'cd_a', 'ent', 'con', 'upm_x', 'd_sem_x', 'n_pro_viv_x',
       'v_sel', 'n_hog', 'h_mud',
       ...
       'p9_h7', 'p9_m7', 'p9_8', 'p9_h8', 'p9_m8', 'ur_y', 'tipo_y',
       'mes_cal_y', 'fac_tri_y', 'fac_men_y'],
      dtype='object', length=247)

In [7]:
tabla = pd.crosstab(coet422['n_ent_x'], coet422['n_ent_y'])
print(tabla)

n_ent_y             Cuarta entrevista  Primera entrevista  Quinta entrevista  \
n_ent_x
Cuarta entrevista               64109                   0                  0
Primera entrevista                  0               65103                  0
Quinta entrevista                   0                   0              63929
Segunda entrevista                  0                   0                  0
Tercera entrevista                  0                   0                  0

n_ent_y             Segunda entrevista  Tercera entrevista
n_ent_x
Cuarta entrevista                    0                   0
Primera entrevista                   0                   0
Quinta entrevista                    0                   0
Segunda entrevista               64334                   0
Tercera entrevista                   0               65395

In [8]:
# Funci√≥n para limpiar tablas
def limpiar_tabla(tabla):
    columnas_eliminar = [col for col in tabla.columns if col.endswith('_y')]
    tabla = tabla.drop(columns = columnas_eliminar)
    tabla = tabla.rename(columns={col:col .split('_')[0] for col in tabla.columns if col.endswith('_x')})
    return tabla

In [9]:
columnas_eliminar = [col for col in coet422.columns if col.endswith('_y')]
coet422 = coet422.drop(columns = columnas_eliminar)
coet422 = coet422.rename(columns={col:col .split('_')[0] for col in coet422.columns if col.endswith('_x')})
print(coet422.shape)

(322870, 235)

In [11]:
sdemcoet422 = pd.merge(sdemt422, coet422, on=idpersona)
print(sdemcoet422.shape)

(311083, 342)

In [13]:
sdemcoet422 = limpiar_tabla(sdemcoet422)
print(sdemcoet422.shape)

(311083, 336)

In [14]:
sdemcoet422['p3']

0         2332.0
1         2332.0
2            NaN
3            NaN
4            NaN
           ...
311078    2632.0
311079       NaN
311080    6111.0
311081       NaN
311082       NaN
Name: p3, Length: 311083, dtype: category
Categories (482, float64): [1111.0, 1112.0, 1113.0, 1121.0, ..., 9731.0, 9732.0, 9899.0, 9999.0]

In [15]:
vivhogt422 = pd.merge(vivt422, hogt422, on=idvivienda)
print(vivhogt422.shape)

(133108, 57)

In [16]:
vivhogt422 = limpiar_tabla(vivhogt422)
print(vivhogt422.shape)

(133108, 39)

In [23]:
completat422 = pd.merge(sdemcoet422, vivhogt422, on=idhogar)
print(completat422.shape)

(311083, 369)

In [27]:
completat422['p3_x']

0         2332.0
1         2332.0
2            NaN
3            NaN
4            NaN
           ...
311078    2632.0
311079       NaN
311080    6111.0
311081       NaN
311082       NaN
Name: p3_x, Length: 311083, dtype: category
Categories (482, float64): [1111.0, 1112.0, 1113.0, 1121.0, ..., 9731.0, 9732.0, 9899.0, 9999.0]

In [28]:
completat422 = limpiar_tabla(completat422)
print(completat422.shape)

(311083, 349)

In [29]:
completat422.tail()

,r,loc,mun,est,est_d_tri,est_d_men,ageb,t_loc_tri,t_loc_men,cd_a,...,r_pre,p_dia,p_mes,p_anio,r_def,d_dia,d_mes,d_anio,e_obs,inf
311078,Entrevista completa,NaN,2.0,20.0,476.0,420.0,0.0,Localidades menores de 2 500 habitantes,Localidades menores de 2 500 habitantes,Complemento urbano-rural,...,Entrevista completa,6.0,12.0,22.0,Entrevista completa,6.0,12.0,22.0,No,2.0
311079,Entrevista completa,NaN,2.0,20.0,476.0,420.0,0.0,Localidades menores de 2 500 habitantes,Localidades menores de 2 500 habitantes,Complemento urbano-rural,...,Entrevista completa,6.0,12.0,22.0,Entrevista completa,6.0,12.0,22.0,No,2.0
311080,Entrevista completa,NaN,2.0,20.0,476.0,420.0,0.0,Localidades menores de 2 500 habitantes,Localidades menores de 2 500 habitantes,Complemento urbano-rural,...,Entrevista completa,6.0,12.0,22.0,Entrevista completa,6.0,12.0,22.0,No,1.0
311081,Entrevista completa,NaN,2.0,20.0,476.0,420.0,0.0,Localidades menores de 2 500 habitantes,Localidades menores de 2 500 habitantes,Complemento urbano-rural,...,Entrevista completa,6.0,12.0,22.0,Entrevista completa,6.0,12.0,22.0,No,1.0
311082,Entrevista completa,NaN,2.0,20.0,476.0,420.0,0.0,Localidades menores de 2 500 habitantes,Localidades menores de 2 500 habitantes,Complemento urbano-rural,...,Entrevista completa,6.0,12.0,22.0,Entrevista completa,6.0,12.0,22.0,No,99.0

In [30]:
[col for col in completat422.columns]

['r',
 'loc',
 'mun',
 'est',
 'est_d_tri',
 'est_d_men',
 'ageb',
 't_loc_tri',
 't_loc_men',
 'cd_a',
 'ent',
 'con',
 'upm',
 'd_sem',
 'n_pro_viv',
 'v_sel',
 'n_hog',
 'h_mud',
 'n_ent',
 'per',
 'n_ren',
 'c_res',
 'par_c',
 'sex',
 'eda',
 'nac_dia',
 'nac_mes',
 'nac_anio',
 'l_nac_c',
 'cs_p12',
 'cs_p13_1',
 'cs_p13_2',
 'cs_p14_c',
 'cs_p15',
 'cs_p16',
 'cs_p17',
 'n_hij',
 'e_con',
 'cs_p20a_1',
 'cs_p20a_c',
 'cs_p20b_1',
 'cs_p20b_c',
 'cs_p20c_1',
 'cs_ad_mot',
 'cs_p21_des',
 'cs_ad_des',
 'cs_nr_mot',
 'cs_p23_des',
 'cs_nr_ori',
 'ur',
 'zona',
 'salario',
 'fac_tri',
 'fac_men',
 'clase1',
 'clase2',
 'clase3',
 'pos_ocu',
 'seg_soc',
 'rama',
 'c_ocu11c',
 'ing7c',
 'dur9c',
 'emple7c',
 'medica5c',
 'buscar5c',
 'rama_est1',
 'rama_est2',
 'dur_est',
 'ambito1',
 'ambito2',
 'tue1',
 'tue2',
 'tue3',
 'busqueda',
 'd_ant_lab',
 'd_cexp_est',
 'dur_des',
 'sub_o',
 's_clasifi',
 'remune2c',
 'pre_asa',
 'tip_con',
 'dispo',
 'nodispo',
 'c_inac5c',
 'pnea_est',
 'niv_ins',
 'eda5c',
 'eda7c',
 'eda12c',
 'eda19c',
 'hij5c',
 'domestico',
 'anios_esc',
 'hrsocup',
 'ingocup',
 'ing_x_hrs',
 'tpg_p8a',
 'tcco',
 'cp_anoc',
 'imssissste',
 'ma48me1sm',
 'p14apoyos',
 'scian',
 't_tra',
 'emp_ppal',
 'tue_ppal',
 'trans_ppal',
 'mh_fil2',
 'mh_col',
 'sec_ins',
 'tipo',
 'mes_cal',
 'd',
 'n',
 'n',
 'n',
 'p1',
 'p1a1',
 'p1a2',
 'p1a3',
 'p1b',
 'p1c',
 'p1d',
 'p1e',
 'p2_1',
 'p2_2',
 'p2_3',
 'p2_4',
 'p2_9',
 'p2a_dia',
 'p2a_sem',
 'p2a_mes',
 'p2a_anio',
 'p2b_dia',
 'p2b_sem',
 'p2b_mes',
 'p2b_anio',
 'p2b',
 'p2c',
 'p2d1',
 'p2d2',
 'p2d3',
 'p2d4',
 'p2d5',
 'p2d6',
 'p2d7',
 'p2d8',
 'p2d9',
 'p2d10',
 'p2d11',
 'p2d99',
 'p2e',
 'p2f',
 'p2g1',
 'p2g2',
 'p2h1',
 'p2h2',
 'p2h3',
 'p2h4',
 'p2h9',
 'p2i',
 'p2j',
 'p2k_anio',
 'p2k_mes',
 'p2k',
 'p3',
 'p3a',
 'p3b',
 'p3c1',
 'p3c2',
 'p3c3',
 'p3c4',
 'p3c9',
 'p3d',
 'p3e',
 'p3f1',
 'p3f2',
 'p3g1_1',
 'p3g1_2',
 'p3g2_1',
 'p3g2_2',
 'p3g3_1',
 'p3g3_2',
 'p3g4_1',
 'p3g4_2',
 'p3g9',
 'p3g_tot',
 'p3h',
 'p3i',
 'p3j1',
 'p3j2',
 'p3k1',
 'p3k2',
 'p3k3',
 'p3k4',
 'p3k5',
 'p3k9',
 'p3l',
 'p4',
 'p4',
 'p4',
 'p4_3',
 'p4a',
 'p4a_1',
 'p4b',
 'p4c',
 'p4d1',
 'p4d2',
 'p4d3',
 'p4e',
 'p4f',
 'p4g',
 'p4h',
 'p4i',
 'p4i_1',
 'p5',
 'p5a',
 'p5b_hlu',
 'p5b_mlu',
 'p5b_hma',
 'p5b_mma',
 'p5b_hmi',
 'p5b_mmi',
 'p5b_hju',
 'p5b_mju',
 'p5b_hvi',
 'p5b_mvi',
 'p5b_hsa',
 'p5b_msa',
 'p5b_hdo',
 'p5b_mdo',
 'p5b_thrs',
 'p5b_tdia',
 'p5c',
 'p5d1',
 'p5d_hlu',
 'p5d_mlu',
 'p5d_hma',
 'p5d_mma',
 'p5d_hmi',
 'p5d_mmi',
 'p5d_hju',
 'p5d_mju',
 'p5d_hvi',
 'p5d_mvi',
 'p5d_hsa',
 'p5d_msa',
 'p5d_hdo',
 'p5d_mdo',
 'p5d_thrs',
 'p5d_tdia',
 'p5e',
 'p5f1',
 'p5f2',
 'p5f3',
 'p5f4',
 'p5f5',
 'p5f6',
 'p5f7',
 'p5f8',
 'p5f9',
 'p5f10',
 'p5f11',
 'p5f12',
 'p5f13',
 'p5f14',
 'p5f15',
 'p5f99',
 'mes',
 'fac',
 'fac',
 'p6_1',
 'p6_2',
 'p6_3',
 'p6_4',
 'p6_5',
 'p6_6',
 'p6_7',
 'p6_8',
 'p6_9',
 'p6_10',
 'p6_99',
 'p6a1',
 'p6a2',
 'p6a3',
 'p6a4',
 'p6a9',
 'p6b1',
 'p6b2',
 'p6c',
 'p6d',
 'p6e',
 'p6e_c',
 'p6f',
 'p6f_c',
 'p6g',
 'p6h',
 'p6h_c',
 'p6i',
 'p6i_c',
 'p7',
 'p7a',
 'p7b',
 'p7c',
 'p8_1',
 'p8_2',
 'p8_3',
 'p8_4',
 'p8_9',
 'p8a',
 'p9_1',
 'p9_h1',
 'p9_m1',
 'p9_2',
 'p9_h2',
 'p9_m2',
 'p9_3',
 'p9_h3',
 'p9_m3',
 'p9_4',
 'p9_h4',
 'p9_m4',
 'p9_5',
 'p9_h5',
 'p9_m5',
 'p9_6',
 'p9_h6',
 'p9_m6',
 'p9_7',
 'p9_h7',
 'p9_m7',
 'p9_8',
 'p9_h8',
 'p9_m8',
 't',
 't',
 'p2',
 'r_pre',
 'p_dia',
 'p_mes',
 'p_anio',
 'r_def',
 'd_dia',
 'd_mes',
 'd_anio',
 'e_obs',
 'inf']

In [31]:
# Columnas duplicadas
print(completat422.columns[completat422.columns.duplicated().tolist()])

Index(['n', 'n', 'p4', 'p4', 'fac', 't'], dtype='object')

In [32]:
# Finalmente vamos a guardar el data frame para su analisis
completat422.to_csv('completat422.csv', index = False)

In [ ]:
data = pd.read_csv('completat422.csv')
data.head()